body {
  background-color: #1240AB;
}


.btnMenu a:link,  a:visited{
  background-color: #1240AB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
	text-decoration: none;
}

 .btnMenu a:hover,  a:active{
  background-color: #3e8e41;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
	text-decoration: none;
}

a.btnMenu:link {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #1240AB;
    color: white;
    padding: 15px;
    font-size: 16px;
   border: none;
	text-decoration: none;
}

a.btnMenu:hover{
font-family: Arial, Helvetica, sans-serif;
 background-color: #06266F;
    color: white;
    padding: 15px;
    font-size: 16px;
   border: none;
	text-decoration: none;
}
